################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/JsSyncDB2.0/bin
/JsSyncDB2.0/obj/Debug
/packages
/.vs
/web-netcore-unit/obj/Debug
/web-netcore/bin
/web-netcore/obj
/web-netcore-unit/bin
/web-netcore-unit/obj
/web-netcore/web-netcore.csproj.user
